body {
    font-family: sans-serif;
}

header {
    font-size: 16px;
    width: 100%;


}

h1 {
    line-height: 20px;
}

.border {
    border-bottom: solid 2px;

}

.align-center {
    text-align: center;
}

.items-center {
    align-items: center;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    padding-top: 30px;

    display: flex;
    background: skyblue;
    height: 200px;
    color: white;
}

.nameAndSurname {
    width: 50%;
    text-align: center;
    font-size: 35px;

}

.nameAndSurname h1 {
    white-space: pre;
    font-weight: 900px;

}

.info {
    padding-left: 50px;
}

.info label {
    font-weight: 800;
}

.info ul {
    list-style: none;
}

label {
    display: block;
    padding-top: 10px;

}

.info ul li {
    padding-top: 3px;
}

section h2 {
    padding-bottom: 5px;
}

section p,
section ul,
section span {
    padding-top: 5px;
    padding-bottom: 10px;
    display: block;
}


ul {
    list-style: none;
}

.maincontent {
    width: 75%;
    margin: auto;
}

code span {
    white-space: pre;
    font-weight: 800;
}

footer {
    background: black;
    color: aliceblue;
    border-top: lightseagreen 3px solid;
    text-align: center;
    padding: 15px;

}